/* Base Page Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
    overflow: hidden;
}

.container, .preferences-container {
    text-align: center;
    padding: 1vw;
    max-width: 80vw; 
    width: 80vw; 
    height: auto; 
    margin: 5vh auto; 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1); 
    border-radius: 1vw;
    background: #FFF;
}

h1, h2 {
    color: #00356B;
    margin-bottom: 30px;
    font-size: 3em;
}

.instruction, p {
    font-size: 2em;
    margin: 20px 0;
    color: #00356B;
    font-weight: bold;
}

.instructions p, .preferences-container p {
    margin: 10px 0;
    font-size: 2em;
    color: #000;
}

.yale-blue {
    color: #00356B;
    font-weight: bold;
}

.action-button, .start-over, .go-back, .search, .option, .start {
    padding: 30px 45px;
    cursor: pointer;
    font-size: 2em;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #00356B;
    border: 2px solid #00356B;
    background-size: 200% 100%;
    background-position: right bottom;
    background-image: linear-gradient(to left, #FFFFFF 50%, #00356B 50%);
    overflow: hidden;
    position: relative;
}

.action-button:hover, .start-over:hover, .go-back:hover, .search:hover, .start:hover, .option:hover,
.action-button.hovering, .start-over.hovering, .go-back.hovering, .search.hovering, .start.hovering {
    background-position: left bottom;
    color: #FFFFFF;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-position 2s linear, color 2s ease; /* Apply transition to background-position on hover */
}

.hovering {
    background-position: left bottom;
    color: #FFFFFF;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-position 2s linear, color 2s ease;
}

.help-button {
    position: absolute;
    top: 10%;  
    left: 20%;
    background-color: #00356B;
    color: #FFFFFF;
    border: none;
    padding: 2vh; 
    font-size: 4.5vh; 
    width: 12vh; 
    height: 12vh; 
    border-radius: 50%; 
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1);
    background-image: linear-gradient(to left, #00356B 50%, #002244 50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-position: right bottom;
    background-size: 200% 100%;
    transform-origin: center;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15%
} 

.help-button:hover, .help-button.hovering {
    background-position: left bottom; /* Shifted background position on hover */
    color: #FFFFFF; /* Text color on hover */
    transform: translate(-50%, -50%) scale(1.1); /* Scaled transformation on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced box-shadow on hover */
    transition: background-position 2s linear, transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.options-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.options-group span {
    flex: 1;
    text-align: center;
    color: #00356B; 
    font-weight: bold;
}

.start-over, .search, .go-back {
    position: fixed;
    bottom: 20px;
}

.start-over {
    left: 20px;
}

.search, .go-back {
    right: 20px;
}

@media (max-width: 768px) {
    .options-group {
        flex-direction: column;
    }
    .start-over, .search, .go-back {
        width: auto; 
        padding: 10px; 
        font-size: smaller; 
    }
}

/* Base styles for tri-state switch container */
.tri-state-switch {
    font-size: 1.7em;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* Hide the radio buttons visually, but keep them accessible */
.tri-state-switch input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

/* style the labels to look like toggle parts */
.tri-state-switch label {
    background-color: #ccc;
    padding: 10px 20px;
    border: 1px solid #ddd;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.25s ease-out;
}

/* highlight the selected option */
.tri-state-switch input[type="radio"]:checked + label {
    background-color: #00356B;
    color: white;
}

.option-buttons {
    background-color: #CCCCCC;
    /* color: #FFFFFF; */
    border: none;
    padding: 10px 15px;
    font-size: 1.2em;
}

.options-buttons-clicked {
    background-color: #00356B;
    color: white;
}


/* Round the corners on the ends */
.left-option {
    border-radius: 15px 0 0 15px;
}

.right-option {
    border-radius: 0 15px 15px 0;
}

/* Special style for the middle option */
.middle-option {
    border-left: none;
    border-right: none;
}

/* Loading Page */
.loading-container {
    width: 100%;
    height: 20px;
    background-color: #E0E0E0;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

.loading-bar {
    height: 100%;
    width: 0%;
    background-color: #00356B;
    border-radius: 10px;
    animation: loading 2s linear forwards;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}


.recommendation-container {
    width: 100%; 
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center; /* center align all child elements horizontally */
    text-align: center; /* center align text for all child elements */
    padding: 20px;
    margin: auto; /* Auto margins for centering if not using flex on body */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #FFF;
    border-radius: 10px;
}

.spot-image-container {
    width: 100%; 
    height: auto; /* maintain aspect ratio */
    display: flex; /* using flex to center image */
    justify-content: center; /* center horizontally */
    align-items: center;
}

#study-spot-image {
    max-width: 50%;
    max-height: 200px; /* restrict image to not overflow its container */
    height: auto; 
    display: block; 
    margin: auto; 
}

#study-spot-directions {
    max-width: 25%; /* restrict image to not overflow its container */
    height: auto; 
    display: block; 
    margin: auto;
}

#no-spots {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex; 
    justify-content: center; /* centers content horizontally */
    align-items: center; /* centers content vertically */
    text-align: center; 
    font-size: 1.5em; 
    color: #00356B;
}

/* Start Over and Go Back button styles */
.start-over, .go-back, .search {
    background-color: #FFFFFF;
    color: #00356B;
    border: 2px solid #00356B;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.start-over:hover {
    background-color: #00356B;
    color: white;
}

/* adjusting positions */
.start-over {
    left: 20px; 
}

.go-left {
    left: 20%; 
}

.go-right {
    right: 20%; 
}

.more-info-button {
    background-color: #00356B; /* Default background color */
    color: white;
    font-size: 4em;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); /* Default transformation */
    display: block;
    width: 10vw;
    height: 10vw;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0;
    transform-origin: center; /* Center the scaling */
    background-image: linear-gradient(to left, #00356B 50%, #002244 50%); /* Gradient background */
    background-size: 200% 100%;
    background-position: right bottom; /* Default background position */
    transition: background-position 0s linear, transform 0.2s ease-out; /* Transitions for various properties */
}

.more-info-button:hover, .more-info-button.hovering {
    background-position: left bottom; /* Shifted background position on hover */
    color: #FFFFFF; /* Text color on hover */
    transform: translate(-50%, -50%) scale(1.1); /* Scaled transformation on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced box-shadow on hover */
    transition: background-position 2s linear, transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.help-container {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.help-list {
    list-style: none;
    padding: 0;
}

.help-list li {
    font-size: 1.5em;
    margin: 20px 0;
    color: #00356B;
}

.help-list .yale-blue {
    color: #00356B;
    font-weight: bold;
}

.start-over {
    background-color: #FFFFFF;
    color: #00356B;
    border: 2px solid #00356B;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.start-over:hover {
    background-color: #00356B;
    color: #FFFFFF;
}

.go-back-help {
    position: absolute;
    top: 15%;  
    left: 20%; 
    background-color: #00356B;
    color: #FFFFFF;
    border: none;
    padding: 2vh;
    font-size: 4.5vh;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1); /* Keep this to center the button */
    transform-origin: center; /* Center the scaling */
    background-image: linear-gradient(to left, #00356B 50%, #002244 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0s linear, transform 0.2s ease-out; /* Immediate background-position change when not hovering */
}

.go-back-help:hover, .go-back-help.hovering {
    background-position: left bottom; /* Shifted background position on hover */
    transform: translate(-50%, -50%) scale(1.1); /* Scaled transformation on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Enhanced box-shadow on hover */
    transition: background-position 2s linear, transform 0.2s ease-out, box-shadow 0.2s ease-out; /* Slow background-position change on hover */
}

.start-over, .search, .go-back {
    padding: 30px 50px; 
    font-size: 2em;
    color: #00356B;
    border: 2px solid #00356B;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 3vh;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000; 
}

.start-over:hover, .search:hover, .go-back:hover {
    background-color: #00356B;
    color: #FFFFFF;
    transform: scale(1.1);
}

.start-over {
    left: 15%;
}

.search, .go-back {
    right: 15%; 
}

@media (max-width: 768px) {
    .start-over, .search, .go-back {
        width: auto;
        padding: 10px 15px; 
        font-size: 1.1em; 
    }
}

#raising-hand-gif {
    max-width: 20vw; 
    height: auto; 
    display: block; 
    margin: 1em auto;
}